---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostsByYear from '../../components/PostsByYear.astro';

type BlogPost = CollectionEntry<'blog'>;
const title = 'All posts'
const description = 'Articles, guides, tutorials about front-end development.'

const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout
	title={title}
	description={description}
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">{title}</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">{description}</p>
    </div>
    <PostsByYear posts={posts}/>
  </div>
</BaseLayout>
